* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --purple-color: #9256f7;
    --purple-light: #e4bcf7;

    --gray-color: rgb(128, 128, 128);
    --gray-light: rgb(219, 207, 207);

    --yellow-color: #fcee09; 
    --red-color: #ff003c;
    --black-color: #050a0e;
    --blue-dark: #05868f;
    --blue-color: #3cc4ce;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.fa-star {
    color: rgb(43, 43, 43);
}

.checked {
    color: red;
}

body, html {
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
    
}

li, a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-color);
    transition: 0.5s;
    list-style: none;
    text-decoration: none;

    
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

span {
    color: var(--purple-color);
}

a:hover {
    color: #fff;
      animation: glow 2s ease-in-out infinite alternate;
      transition: 0.5s;
}

.content {
    width: auto;
    margin: 0 auto;
    overflow: hidden;

}

header {
    width: 100%;
    height: 8rem;
    position: fixed;
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding: 2rem;
    z-index: 1;
    
    -webkit-box-shadow: 0px 1px 50px 3px rgba(146,86,247,0.85); 
box-shadow: 0px 1px 50px 3px rgba(146,86,247,0.85);
}

header img {
    width: 10rem;

}

nav ul {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

#home {
    padding: 20rem;
    display: flex;
    align-items: center;
    gap: 20rem;
    
    background: url(../img/background.gif) no-repeat fixed; 
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)), url(../img/background.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#home .desc {
    text-align: center;
    padding: 2.4rem;

    border-left: 1px solid var(--gray-color);
    animation: increase 1s 0.5s backwards;

}


#home img {
    width: 30rem;
    border-radius: 50%;
    
}

#home h1 {
    animation: leftright 1s 1.5s backwards;
    color: white;
}

#home h2 {
    font-size: 2rem;
    font-weight: 400;
    animation: rightleft 1s 1s backwards;
    color: white;
}

#home h3 {
    font-size: 2rem;
    font-weight: 400;
    animation: rightleft 1s 2s backwards;
    color: white;
}
  

#about-me {
    background-color: var(--purple-light);
    padding: 0 10rem;

    -webkit-box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0); 
    box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0);

}

#about-me h2 {
    color: var(--purple-color);
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 4rem;
}

#about-me p {
    font-size: 1.6rem;
    color: black;
}

.social-links {
    margin-top: 5rem;
    border-top: 1px solid var(--purple-color);
    
}

.social-links .buttons {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 10rem;
}

.social-links img {
    width: 5rem;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border-top: 1px solid var(--purple-color);

    padding-bottom: 10rem;
  
}

.experience img {
    width: 5rem;
}


#projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 10rem 10rem;

    background: url(../img/bg-projects.jpg) no-repeat fixed; 
    background-color: #472b74;
    background-image: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)), url(../img/bg-projects.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#projects h2 {
    color: white;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#projects .p-cards {
    justify-content: center;
    display: flex;
    gap: 6rem;
    margin-bottom: 3rem;
}

#projects .p-card {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    border: 3px solid var(--purple-color);
    border-radius: 0 3rem 0 3rem;
    padding: 3.2rem;

    background-color: rgb(29, 29, 29);


    animation: rainbow 5s infinite alternate;
}

#projects .p-card img {
    border: 1px solid black;
    width: 12rem;
    margin-bottom: 1.6rem;
}

#projects .p-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

#projects .p-card a + a {
    margin-bottom: 2rem;
}

.p-card, .hs-card, .ss-card {
    cursor: pointer;
}


.p-card:hover, .hs-card:hover, .ss-card:hover {
    transform: scale(1.1);
    transition: 0.5s;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 19px 9px 50px -12px rgba(0,0,0,0.49); 
    box-shadow: 0px 10px 13px -7px #000000, 19px 9px 50px -12px rgba(0,0,0,0.49);
}

#skills .h-skills, .s-skills{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 10rem 10rem;
}

#skills .h-skills {
    background-color: var(--purple-light);

    -webkit-box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0); 
    box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0);
}

#skills p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--purple-color);
}

#skills img{
    width: 10rem;
    margin-bottom: 1.6rem;
    border-radius: 0 3rem 0 0;
}

#skills h2 {
    color: var(--purple-color);
    text-align: center;
    margin-bottom: 4rem;
}

#skills .hs-cards, .ss-cards {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}

#skills .hs-card, .ss-card{

    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 3.2rem;

    border: 3px solid var(--purple-color);
    border-radius: 0 3rem 0 3rem;

    background-color: rgba(29, 29, 29, 0);

    animation: rainbow 5s infinite alternate;
}


#skills .s-skills {
    background: url(../img/bg-skills.jpg) no-repeat fixed; 
    background-color: #472b74;
    background-image: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)), url(../img/bg-skills.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#skills .s-skills h2 {
    color: white;
    text-align: center;
    margin-bottom: 4rem;
}

#contact {
    background-color: var(--purple-light);
    padding: 0 10rem;

    -webkit-box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0); 
    box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0);

    padding-bottom: 10rem;

}

#contact h2 {
    color: var(--purple-color);
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 15rem;

    border: 3px solid var(--purple-color);
    border-radius: 0 3rem 0 3rem;

    background-color: transparent;

    animation: rainbow 5s infinite alternate;
    
}

input, label, textarea {
    border: rgb(114, 109, 109);
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 1rem;
    resize: none;
    line-height: 26px;
    
}

input, textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50rem;
    background: #FAFAFC;
    border-radius: 8px;
    height: 56px;
    padding: 0 2.4rem;
    font-size: 16px;
    line-height: 26px;
    color: #6c6a71;
}

#contact .btn {
    margin-top: 3rem;
    align-self: center;
}

#footer {
    background-color: black
}

#footer p {
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: white;
    
}

.menu {
    justify-content: center;
    text-align: center;
}

#footer .content {
    padding: 4rem;
    justify-content: space-evenly;;
    display: flex;
    gap: 2rem;
}

#footer .menu nav ul{
    font-weight: 400;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--gray-color);
    margin-bottom: 1rem;
}

#footer span {
    font-weight: bold;
}

#footer img {
    width: 15rem;
}


#footer .end {
    background-color: var(--gray-color);
}

@media (max-width: 1000px) {
    #home img {
        width: 14rem;
    }

}

@media (max-width: 900px) {
    nav ul {
        gap: 2rem;
    }
    header img {
        width: 10rem;
    }
    #home {
        display: flex;
        flex-direction: column;
    }

    #home .desc {
        border-left: none;
        border-top: 1px solid var(--gray-color);
    }

    .p-cards, .hs-cards, .ss-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px){
    input, textarea {
        min-width: 14rem;
    }
    form {
        margin: auto;
    }
}





@keyframes leftright {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightleft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(45px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes increase {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rainbow {
    0% {
        border-color: var(--red-color)
    }

    50% {
        border-color: var(--purple-color)
    }

    100% {
        border-color: var(--blue-color)
    }
}

@keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9256f7, 0 0 20px #9256f7, 0 0 25px #9256f7, 0 0 30px #9256f7, 0 0 35px #9256f7;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9256f7, 0 0 40px #9256f7, 0 0 50px #9256f7, 0 0 60px #9256f7, 0 0 70px #9256f7;
    }
    100% {
        text-shadow: 0 0 15px #fff, 0 0 30px #fff, 0 0 45px #9256f7, 0 0 60px #9256f7, 0 0 75px #9256f7, 0 0 90px #9256f7, 0 0 105px #9256f7;
      }
  }