* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    font-size: 62.5%;
    --hue: 290;
    --purple-color: #9256f7;
    --purple-light: #e4bcf7;

    --gray-color: rgb(128, 128, 128);
    --gray-light: rgb(219, 207, 207);

    --yellow-color: #fcee09; 
    --red-color: #ff003c;
    --black-color: #1c132c;
    /* --black-color: rgba(var(--hue), 19, 44, 1); */
    --hue-bg: 
    --blue-dark: #05868f;
    --blue-color: #3cc4ce;

    --dark-color: rgb(12, 12, 12);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.hide {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.show {
    opacity: 1;
    display: block;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    background-color: var(--black-color);

}

.mobile-menu ul{
    font-size: 1.8rem;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
      
}


.btn-open-menu, .btn-close-menu {
    position: absolute;
    right: 4rem;
}

.btn-open-menu img, .btn-close-menu img {
    width: 3rem;
}

.fa-star {
    color: rgb(43, 43, 43);
}

.checked {
    color: var(--purple-color);
}

body, html {
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
    
}

li, a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-color);
    transition: 0.5s;
    list-style: none;
    text-decoration: none;

    
}

h2 {
    font-size: 2.4rem;
}

span {
    color: var(--purple-color);
}

a:hover {
    color: #fff;
    animation: glow 2s ease-in-out infinite alternate;
    transition: 0.5s;
}

.content {
    width: 100%;
    overflow: hidden;

}

header {
    width: 100%;
    height: 8rem;
    position: fixed;
    background-color: var(--dark-color);
    padding: 2rem;
    z-index: 1;
    
    -webkit-box-shadow: 0px 1px 50px 3px rgba(146,86,247,0.85); 
box-shadow: 0px 1px 50px 3px rgba(146,86,247,0.85);
}

.logo img {
    width: 10rem;

}

.logo {
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

.wrap {
    display: flex;
    gap: 3rem;
    margin-right: 40rem;
}


#home {
    padding: 15rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)), url(../img/bg-home.avif);

    
}

#home .desc {
    text-align: center;
    padding: 2.4rem;
    animation: increase 1s 0.5s backwards;

}

.line {
    height: 40rem;
    border: 1px solid var(--gray-color);
}


#home img {
    width: 30rem;
    border-radius: 50%;
    
}

#home h1 {
    font-size: 3.8rem;
    animation: leftright 1s 1.5s backwards;
    color: white;
}

#home h2 {
    font-size: 2.4rem;
    font-weight: 400;
    animation: rightleft 1s 1s backwards;
    color: white;
}

#home h3 {
    font-size: 2rem;
    font-weight: 400;
    animation: rightleft 1s 2s backwards;
    color: white;
}
  

#about-me {
    background-color: var(--purple-light);
    padding: 0 10rem;

    -webkit-box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0); 
    box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0);

}

#about-me #more {
    display: none;
}

#about-me h2 {
    color: var(--purple-color);
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 4rem;
}

p, #about-me #more {
    line-height: 2.5rem;
    font-size: 1.8rem;
    color: white;
}

#about-me a {
    cursor: pointer;
}

.social-links {
    margin-top: 5rem;
    border-top: 1px solid var(--purple-color);
    
}

.social-links .buttons {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 10rem;
}

.social-links img {
    width: 5rem;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border-top: 1px solid var(--purple-color);

    padding-bottom: 10rem;
  
}

.experience img {
    width: 5rem;
}


#projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 10rem 10rem;

    background-image: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)), url(../img/bg-projects.avif);

}

#projects h2 {
    color: white;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#projects .p-cards {
    justify-content: center;
    display: flex;
    gap: 6rem;
    margin-bottom: 3rem;
}

#projects .p-card {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    border: 3px solid var(--purple-color);
    border-radius: 0 3rem 0 3rem;
    padding: 3.2rem;

    background-color: var(--dark-color);


    animation: rainbow 5s infinite alternate;
}

#projects .p-card img {
    border: 1px solid black;
    width: 12rem;
    margin-bottom: 1.6rem;
}

#projects .p-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

#projects .p-card a + a {
    margin-bottom: 2rem;
}

.p-card, .hs-card, .ss-card {
    cursor: pointer;
}


.p-card:hover, .hs-card:hover, .ss-card:hover {
    transform: scale(1.1);
    transition: 0.5s;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 19px 9px 50px -12px rgba(0,0,0,0.49); 
    box-shadow: 0px 10px 13px -7px #000000, 19px 9px 50px -12px rgba(0,0,0,0.49);
}

#skills .h-skills, .s-skills{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 10rem 10rem;
}

#skills, #about-me {
    background-color: var(--black-color);

    -webkit-box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0); 
    box-shadow: inset 0px 10px 27px -8px #141414, 3px 33px 37px -30px rgba(0,0,0,0);
}

#skills p {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

#skills img{
    width: 10rem;
    margin-bottom: 1.6rem;
    border-radius: 0 3rem 0 0;
}

.p-cards, .hs-cards, .ss-cards {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}

.pcard, .hs-card, .ss-card{

    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 3.2rem;

    border: 3px solid var(--purple-color);
    border-radius: 0 3rem 0 3rem;

    background-color: var(--dark-color);

    animation: rainbow 5s infinite alternate;
}


#skills  h2 {
    color: var(--purple-color);
    text-align: center;
    margin-bottom: 4rem;
}

#contact {

    background-image: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)), url(../img/bg-contact.avif);

    padding: 0 10rem;
    padding-bottom: 10rem;

}

#contact h2 {
    color: var(--purple-color);
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 4rem;
}

label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 15rem;

    border: 3px solid var(--purple-color);
    border-radius: 0 3rem 0 3rem;

    background-color: transparent;

    animation: rainbow 5s infinite alternate;
    
}

input, label, textarea {
    border: rgb(114, 109, 109);
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 1rem;
    resize: none;
    line-height: 26px;
    
}

input, textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50rem;
    background: #FAFAFC;
    border-radius: 8px;
    height: 56px;
    padding: 0 2.4rem;
    font-size: 16px;
    line-height: 26px;
    color: #6c6a71;
}

#contact .btn {
    margin-top: 3rem;
    align-self: center;
}

#footer {
    background-color: black
}

#footer p {
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: white;
    
}

#footer .menu {
    justify-content: center;
    text-align: center;
}

#footer .content {
    padding: 4rem;
    justify-content: space-evenly;;
    display: flex;
    gap: 2rem;
}

#footer .menu nav ul{
    font-weight: 400;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--gray-color);
    margin-bottom: 1rem;
}

#footer span {
    font-weight: bold;
}

#footer img {
    width: 15rem;
}


#footer .end {
    background-color: var(--black-color);
}


@media (max-width: 900px) {
    nav ul {
        gap: 2rem;
    }
    header img {
        width: 10rem;
    }
    #home {
        display: flex;
        flex-direction: column;
    }

    .line {
        width: 30rem;
        height: 0;
    }


    .p-cards, .hs-cards, .ss-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px){
    input, textarea {
        min-width: 14rem;
    }
    form {
        margin: auto;
    }
    .social-links .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .desktop-menu {
        visibility: hidden;
    }

    .btn-open-menu img {
        visibility: visible;
    }
}

@media (min-width: 701px){
    .btn-open-menu img {
        visibility: hidden;
    }
}

